<h1 class="ui center aligned larger header">
  Sign in to chat - Semantic ui
</h1>

<h4 class="ui center aligned medium icon header">
  <i class="circular teal power off tiny icon"></i>
  Sign in to continue
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
  <!-- <div class="ui two column middle aligned center aligned stackable grid"> -->
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="teal user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password" placeholder="Password">
            <i class="teal lock icon"></i>
          </div>
        </div>
        <div class="ui teal submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big teal disabled button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
