// Place all the styles related to the chat_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card__height {
  height: 45rem;
}

#messages {
  height: 15em;
  overflow: auto;
}

// add for every odd message, display name with different colour
// Or associate a user to a colour
// Or give the choice to choose
